vendor
node_modules
pkg
composer.lock
build
.devcontainer/blesta/data/
vendor
.devcontainer/supporting_files/archives/blesta
.devcontainer/supporting_files/archives/uploads
.devcontainer/supporting_files/archives/hotfix-php8