language: php
dist: xenial
notifications:
notifications:
  email:
    recipients:
    - kschwarz@hexonet.net
    - tseelamkurthi@hexonet.net
    on_success: never
    on_failure: always
  slack:
    rooms:
      secure: hO3q+2+3VCYXWiY1Ql2pBTYzg1DP+xovSQxZ/JgkMdVW/YQVuhzQbft/vlMn6BgISTsjCZB53PVuCNeYSLV0zjP6QgOdmJuehdqa94219txRePRIuQTZ3D94KuFdcPf2dOcfSE1QTOgmtxcgqGPwht+ae49iRi5g7arY6evYynN7ItyzwGFKvHnu0bGN1cNVQTa5M545NjjnVUUpqHTwLTCSzrao8RUmFat8BvpaKrqaYTjGXxEJI5ICfMAKh3aGAVx8+HiuWw18JpzD154o27je+V4hI1aBnQ1ZhZUSrRtIgQxT+vRgypvC0VLa2pLqZCabc/qtu4ih6cJq7qz9J4mDRZsNbLAnQKbKh4KLLHKbaiKsW0uG8Af2WTISltMy3ZnFUX9TK3XQ1GEIYhlG0ZQqmjYEL1NBHLiQf2O1O6k/TiCPWsI+mOObjdYAKXOG/VUpvNwCq0tqh/rPLWUDTx1X19aSqqfNFTTcMeDWuPdZob+XqmuvfeY8gDhba3JWbAfuTG74OQ6YZB2NGIrTFV1QJPinPptmKczZOntZ16EuE1100IJlPi4Ya7mNZQ6/ryRAhQ+K4FmlTugOyrRHFn5yDc1Jgifx2sL8WH3nhk/7aTdiayCS0U6CPra9w2+MN1aoIXMUXPFxt6w/TIlwLavWzSdShX1DsbMH3RzC2yc=
    on_success: always
    on_failure: always
cache:
  directories:
    - "~/.composer/cache"
    - "~/.npm"
    - node_modules
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
# Trigger a push build on master and dependabot branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^dependabot.*$/
install:
  - sudo apt install graphviz
  - travis_retry composer install
script:
  - composer run-script codeCheck
jobs:
  include:
    - stage: release
      node_js: lts/*
      script:
        - npm prune
        - travis_retry npm i
        - npx semantic-release